<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
      connectionString="Provider=SQLOLEdbacsClientState;Data Source=vnmacsdbacs.eng.pscnet.com;Persist Security Info=True;Password=reports;User ID=reports;Initial Catalog=&quot;ACS EE&quot;"
      providerName="System.Data.OledbacsClientState" />
    <add name="chuoi_ket_noi_baocaosucodb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\vnmsrv608\\BaoCaoSuCoDB\\BaoCaoSuCoDB.accdb" />
    <add name="chuoi_ket_noi_baocaosucodb_" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=\\vnmsrv608\\BaoCaoSuCoDB\\BaoCaoSuCoDB.accdb;Persist Security Info=True" />
    <add name="NorthwindConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="chuoi_ket_noivnmsrv606" connectionString="Server=vnmsrv606;Database=FFCPacking;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv606_ACSEE" connectionString="Server=vnmsrv606;Database=ACS EE;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv608_PTR" connectionString="Server=vnmsrv608;Database=PTR;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv608_TestLog" connectionString="Server=vnmsrv608;Database=TESTLOGDB;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv601_FFCPacking" connectionString="Server=10.84.10.67\SIPLACE_2008R2EX;Database=FFCPacking;user id=sa;password=Siplace.1; Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv608_FFCPacking" connectionString="Server=vnmsrv608;Database=FFCPacking;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noi_acs_ACSEE" connectionString="Server=vnmacsdb.eng.pscnet.com;Database=ACS EE;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noi_acs_ACSEESTATE" connectionString="Server=vnmacsdb.eng.pscnet.com;Database=ACSEESTATE;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noi_acs_ACSClientState" connectionString="Server=vnmacsdb.eng.pscnet.com;Database=ACSEEClientState;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="chuoi_ket_noivnmsrv606_backup" connectionString="Data Source=vnmsrv606; Initial Catalog=FFCPacking; Persist Security Info=True; User ID=reports; Password=reports; Asynchronous processing = true" />
    <add name="chuoi_ket_noi_acs_ACSEE_EUG" connectionString="Server=engacsdb.dl.net;Database=ACS EE;User ID=reports;Password=reports;Trusted_Connection=False" />
    <add name="PrintPack.Properties.Settings.FFCPackingConnectionString"
      connectionString="Data Source=10.84.10.67\SIPLACE_2008R2EX;Initial Catalog=FFCPacking;Persist Security Info=True;User ID=reports;Password=reports"
      providerName="System.Data.SqlClient" />
    <add name="PrintPack.Properties.Settings.TestLogDBConnectionString"
      connectionString="Data Source=10.84.10.67\SIPLACE_2008R2EX;Initial Catalog=TestLogDB;Persist Security Info=True;User ID=reports;Password=reports"
      providerName="System.Data.SqlClient" />
    <add name="PrintPack.Properties.Settings.ACS_EEConnectionString"
      connectionString="Data Source=vnmacsdb.dl.net;Initial Catalog=&quot;ACS EE&quot;;Persist Security Info=True;User ID=reports;Password=reports"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- EUGENE
    <add key="ACSEECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=ENGACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACS EE"/>
    <add key="ACSEECLIENTSTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=ENGACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEClientState"/>
    <add key="ACSEESTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=ENGACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEState"/>
-->
    <!--slovakia 
    <add key="ACSEECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=SVKACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACS EE"/>
    <add key="ACSEECLIENTSTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=SVKACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEClientState"/>
    <add key="ACSEESTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=SVKACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEState"/>
-slovakia -->
    <!-- Vietnam-->
    <add key="ACSEECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=VNMACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACS EE"/>
    <add key="ACSEECLIENTSTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=VNMACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEClientState"/>
    <add key="ACSEESTATECONNECTION" value="packet size=4096;user id=reports;password=reports;data source=VNMACSDB.ENG.PSCNET.COM;persist security info=False;initial catalog=ACSEEState"/>
    <add key="FFCPACKINGCONNECTION" value="packet size=4096;user id=sa;password=Siplace.1;data source=10.84.10.67\SIPLACE_2008R2EX;persist security info=False;initial catalog=FFCPACKING"/>

    <!--add key="FFCPACKINGCONNECTION" value="packet size=4096;user id=reports;password=reports;data source=VNMSRV608.DL.NET;persist security info=False;initial catalog=FFCPACKING"/-->
    <!-- Vietnam add Dec 10-->
    <add key="StationType" value="STATION"/>
    <!-- STATIONtype= REPRINT OR STATION-->
    <add key="PackingType" value="PO"/>
    <!-- Packingtype= PO :, WAREHOUSE: using at WareHouse-->

    <add key="DetailCustomerAddress" value="C:\\PrintPackStation\\Detail\\CustomerAddress.txt"/>
    <add key="DetailStation" value="C:\\PrintPackStation\\Detail\\Station.txt"/>
    <add key="PrintSMTwACSOverPackContent" value="c:\\PrintPackStation\\Label\\SMTwACS\\OverPackContent.btw"/>
    <add key="PrintSMTwoACSOverPackContent" value="c:\\PrintPackStation\\Label\\SMTwoACS\\OverPackContent.btw"/>
    <add key="PrintBASEOverPack" value="c:\\PrintPackStation\\Label\\BASE\\OverPack.btw"/>
    <add key="PrintBASEOverPackContent" value="c:\\PrintPackStation\\Label\\BASE\\OverPackContent.btw"/>
    <add key="PrintDLMOverPack" value="c:\\PrintPackStation\\Label\\DLM\\OverPack.btw"/>
    <add key="PrintDLMOverPackVN" value="c:\\PrintPackStation\\Label\\DLM\\OverPackVN.btw"/>
    <add key="PrintDLMOverPackContent" value="c:\\PrintPackStation\\Label\\DLM\\OverPackContent.btw"/>
    <add key="PrintFRUwACSOverPackContent" value="c:\\PrintPackStation\\Label\\FRUwACS\\OverPackContent.btw"/>
    <add key="PrintFRUwoACSOverPackContent" value="c:\\PrintPackStation\\Label\\FRUwoACS\\OverPackContent.btw"/>
    <add key="PrintFFCOverPack" value="c:\\PrintPackStation\\Label\\FFC\\OverPack.btw"/>
    <add key="PrintFFCOverPackVN" value="c:\\PrintPackStation\\Label\\FFC\\OverPackVN.btw"/>
    <add key="PrintFFCOverPackContent" value="c:\\PrintPackStation\\Label\\FFC\\OverPackContent.btw"/>
    <add key="PrintFFCOverPackContentVN" value="c:\\PrintPackStation\\Label\\FFC\\OverPackContentVN.btw"/>
    <add key="PrintFFCCustomer" value="c:\\PrintPackStation\\Label\\FFC\\CustomerLabel.btw"/>
    <add key="PrintFFCCustomerVN" value="c:\\PrintPackStation\\Label\\FFC\\CustomerLabelVN.btw"/>
    <add key="PrintFFCHPCustomer" value="c:\\PrintPackStation\\Label\\FFC\\HPCustomerLabel.btw"/>
    <add key="PrintUnPackingAll" value="c:\\PrintPackStation\\Label\\WareHouse\\UnPackingAll.btw"/>
    <add key="PrintSmallBox" value="c:\\PrintPackStation\\Label\\WareHouse\\SmallBox.btw"/>

    <add key="ReportBoxNumber" value="c:\\PrintPackStation\\Report\\WareHouse\\Packing.xlsx"/>
    <add key="ReportUnPackingParts" value="c:\\PrintPackStation\\Report\\WareHouse\\UnPackingParts.xlsx"/>
    
    <add key="CUSTOMERLABELSELECTED" value="OFF"/>
    <add key="BOXLABELSELECTED" value="ON"/>
    <add key="OVERPACKLABELSELECTED" value="ON"/>
    
    <add key="SAPHOMELOCATION" value="http://home/saplink/PRD/default.asp"/>
    
    <add key="OverPackFieldRoot" value="PARTCONSERIAL"/>
    <add key="OverPackFieldRootNo" value="SPSN"/>
    <add key="OverPackTwoDField" value="PARTCONSERIALALL"/>
    <add key="BoxQuantity" value="BOXQTY"/>
    <add key="PartQuantity" value="PARTQTY"/>
    
    <add key="MaxSerialsAtATime" value="1000"/>
    <add key="MaxSerialsFFC" value="15"/>
    <add key="MaxSerialsDLM" value="10"/>
    <add key="MaxSerialsBASE" value="20"/>
    <add key="MaxSerialsUnPackingAll" value="18"/>
    
    <add key="runLocation" value="Vietnam"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
